// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

// if we follow header color theme
$main-green: #009655;
$light-green: #3EC094;
$main-orange: #FFA734;
$light-orange: #FFCD5E;
$bright-blue: #4B88EB;
$light-blue: #1AACF0;
$blue-green: #23D6D9;
$hover-yellow: #D4BC24;
