// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E98F23;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;
// $light-green: #F4F4F4;

// if we follow header color theme
$light-orange: #FFCD5E;
$main-orange: #FFA734;
$main-green: #009655;
$blue-green: #23D6D9;
// $light-blue: #1AACF0;
$bright-blue: #4B88EB;
$dark-navy: #002963;

// home page colors
$dark-green: #023035;
$pale-blue: #B6E0EA;
$pale-green: #6BA0A5;
$tent-orange: #BE6F29;

$lightest: #F3F3F5;
$grey-blue: #B7C0D4;
$soft-blue: #7497C1;
$light-blue: #4E83B9;
$strong-blue: #4869A5;
$grass: #D2CD46;
$clay: #D7A185;
