// Specific CSS for your home-page
.home-picture {
  background-position: center;
  height: 280px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container .box {
  width: 100%;
  margin: auto;
  display: table;
}

.container .box .box-row {
  display:table-row;
}

.container .box .box-cell {
  display: table-cell;
  width: auto;
  padding: 10px;
}

.container .box .box-cell.box1 {
  vertical-align:top

}

.container .box .box-cell.box2 {
  vertical-align:top
}



body {
  background-color: #023035;
}

//body {
//  background: linear-gradient(145deg, rgb(195, 240, 200), rgb(80, 155, 245));;
//}

.box {
  // background: linear-gradient(-45deg, #A5D6A7, #0097A7, #4DB6AC, #4B88EB);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
}

h1{
   color: $lightest !important;
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
}

.bottom {
  margin-left: 100px;
  margin-right: 100px;
  text-align: center;
}

.pic-box {
  width: 270px;
  height: 250px;
  border-radius: 5px;
}

@function random_range($min, $max) {
  $rand: random();
  $random_range: $min + floor($rand * (($max - $min) + 1));
  @return $random_range;
}

.snow {
  $total: 100;
  position: absolute;
  width: 10px;
  height: 10px;
  background: white;
  border-radius: 50%;

  @for $i from 1 through $total {
    $random-x: random(1000000) * 0.0001vw;
    $random-offset: random_range(-100000, 100000) * 0.0001vw;
    $random-x-end: $random-x + $random-offset;
    $random-x-end-yoyo: $random-x + ($random-offset / 2);
    $random-yoyo-time: random_range(30000, 80000) / 100000;
    $random-yoyo-y: $random-yoyo-time * 100vh;
    $random-scale: random(10000) * 0.0001;
    $fall-duration: random_range(10, 30) * 1s;
    $fall-delay: random(30) * -1s;

    &:nth-child(#{$i}) {
      opacity: random(10000) * 0.0001;
      transform: translate($random-x, -10px) scale($random-scale);
      animation: fall-#{$i} $fall-duration $fall-delay linear infinite;
    }

    @keyframes fall-#{$i} {
      #{percentage($random-yoyo-time)} {
        transform: translate($random-x-end, $random-yoyo-y) scale($random-scale);
      }

      to {
        transform: translate($random-x-end-yoyo, 100vh) scale($random-scale);
      }
    }
  }
}
