// Specific CSS for your home-page
.home-picture {
  background-position: center;
  height: 280px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container .box {
  width: 100%;
  margin: auto;
  display: table;
}

.container .box .box-row {
  display:table-row;
}

.container .box .box-cell {
  display: table-cell;
  width: auto;
  padding: 10px;
}

.container .box .box-cell.box1 {
  vertical-align:top

}

.container .box .box-cell.box2 {
  vertical-align:top
}


//body {
//  background: linear-gradient(145deg, rgb(195, 240, 200), rgb(80, 155, 245));;
//}

.box {
  // background: linear-gradient(-45deg, #A5D6A7, #0097A7, #4DB6AC, #4B88EB);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
}

h1{
   color: white !important;
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
}

.bottom {
  margin-left: 100px;
  margin-right: 100px;
  text-align: center;
}

.pic-box {
  width: 270px;
  height: 250px;
  border-radius: 5px;
}
