// Specific CSS for your home-page
.home-picture {
  background-position: center;
  height: 280px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container .box {
  width: 100%;
  margin: 20px;
  display: table;
}

.container .box .box-row {
  display:table-row;
}

.container .box .box-cell {
  display: table-cell;
  width: 50%;
  padding: 10px;
}

.container .box .box-cell.box1 {

}

.container .box .box-cell.box2 {

}

h1{
   color: white !important;
}
