<div class="card-product">
  <%#= game.photo.attached? ? (cl_image_tag game.photo.key) : false %>

  <%= image_tag @img rescue image_tag 'long_logo.png' %>
    <!-- <img src="<%#= @img %>", alt="no photo" > -->

  <div class="card-product-infos text-left">
    <h2 class="truncated" style="text-overflow: ellipsis;"><%= @title %></h2>
    <p class="truncated" style="text-overflow: ellipsis;"><%= @description %></p>
    <p><%= @date %></p>
    <!-- <p class="truncated" style="text-overflow: ellipsis;">Game Owner: <%#= @card_owner %></p> -->
  </div>
</div>
