<div class="card-product">

  <%= image_tag @img rescue image_tag 'long_logo.png' %>

  <div class="card-product-infos text-left">
    <h2 class="truncated" style="text-overflow: ellipsis;"><%= @title %></h2>
    <p class="truncated" style="text-overflow: ellipsis;"><%= @description %></p>
    <p><%= @date %></p>
  </div>
</div>
