<h1>Events</h1>

<div class="container-index">
  <div class="sticky-note">
      <p>Do you like what you see?</p>
      <div class="booking">
        <p>Reserve a seat</p>
      </div>
      <p>Check other Travel podcast you can enjoy and chat!</p>
  </div>

    <% @events.each do |event| %>
      <div class="card-product">
        <%= event.title %>
        <%= event.description %>
        <%= event.date %>
          <p>Participants: </p>
        <% event.participations.each do |participation| %>
          <p> <%= participation.user.username  %> </p>
        <% end %>
      </div>
    <% end %>
</div>
