
<div class="container">
  <h1>Events</h1>
  <div class="row">
    <div class="sticky-note col-3">
      <p>If you bookmark an event, you'll be receive notifications about the event</p>
      <p>Add as many events as you want, and discuss with various people!</p>
    </div>
    <div class="pocast-list col">
        <% @events.each do |event| %>
         <div class="card-product">
           <!-- <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" /> -->
           <div class="card-product-infos">
             <!-- <h2><%#= link_to event.title, event_participations_path(event), method: :post %></h2> -->
             <h2><%= button_to event.title, event_participations_path(event), class: "btn" %></h2>
                    </li>
             <p><%= event.description %></p>
             <p><%= event.date %></p>
             <p>Participants:
               <% event.participations.each do |participation| %>
                 <%= participation.user.username %>
               <% end %>
             </p>
           </div>
         </div>
      <% end %>
     </div>
  </div>
 </div>
