<div class="container index">
  <div class="col-xs-auto">
    <h1>Events</h1>
    <div class="row col-xs-12">
      <% @events.each do |event| %>
      <div class="col col-xs-12 col-sm-12 col-md-6 col-lg-4">
        <%= link_to event.title, event_participations_path(event), method: :post %>
        <%= event.description %>
        <%= event.date %>
        <p>Participants: </p>
        <% event.participations.each do |participation| %>
          <p> <%= participation.user.username  %> </p>
        <% end %>
      </div>
      <% end %>
    </div>
  </div>
</div>
