<%= render 'shared/background' %>
<% if flash[:notice] -%>
  <div class = "alert alert-danger"><%= flash[:notice] %></div>
<% end %>

<div class="container">
  <div class="row">
    <div class="sticky-note col-3">
    <h2 class="events">Upcoming Events</h2>
      <p>If you bookmark an event, you'll receive notifications about the event</p>
      <p>Add as many events as you want and have discussions with various people!</p>
    </div>
    <div class="row col-8">
      <% @events.each do |event| %>
      <div class="col col-12 m-2">
        <%= link_to event_participations_path(event), method: :post, data: { confirm: "Participate in this event? Clicking on this link will add the event to your dashboard" }, target: "_top", class: "nav-link btn" do %>
          <% @title = event.title %>
          <% @description = event.description %>
          <% @date = event.date %>
          <% @img = event.episode.podcast.LN_image_URL %>
          <%= render 'shared/eventcard' %>
        <% end %>
      </div>
      <% end %>
     </div>
  </div>
</div>
