<div class="home-picture" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://cdn5.vectorstock.com/i/1000x1000/43/69/cartoon-people-at-camping-leisure-with-yellow-tent-vector-26874369.jpg)">
  <div style="display: inline;">
    <h1 style="text-align:center;"><strong>Cast with Friends</strong></h1>
    <h3 style="text-align:center;"><strong>Gather around the digital campfire</strong></h3>
  </div>
</div>
<br>
<br>

<div class="container">
  <div class="box">
    <div class="box-row">
      <div class="box-cell box1">
        <img style="width: 500px; height: 400px;" src="https://cdn5.vectorstock.com/i/1000x1000/43/69/cartoon-people-at-camping-leisure-with-yellow-tent-vector-26874369.jpg" alt=""/>
      </div>

      <div class="box-cell box2">
        <h2 class="feature-title">Easily create and publish episodes</h2>
        <p class="feature-text">
          Schedule a day and time you'd like your episode to be available for your listeners.
        </p>
      </div>
    </div>
  </div>
<br>
  <div class="box">
    <div class="box-row">
      <div class="box-cell box1">
        <h2 class="feature-title">Join an upcoming event and be a part of discussion of your favorite podcast!</h2>
        <p class="feature-text">
          Take a pause and discuss it with your new friends.
        </p>
      </div>

      <div class="box-cell box2">
       <img style="width: 500px; height: 400px;" src="https://cdn5.vectorstock.com/i/1000x1000/43/69/cartoon-people-at-camping-leisure-with-yellow-tent-vector-26874369.jpg" alt=""/>
      </div>
    </div>
  </div>
  <br>

  <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="https://i0.wp.com/www.healthfitnessrevolution.com/wp-content/uploads/2019/04/iStock-955045396-1.jpg?fit=3837%2C2595&ssl=1" class="d-block w-100" style="height: 300px;" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h4><strong>Why Podcast?</strong></h4>
          <h5>1. Podcasting Fits Into People’s Lives</h5>
          <p>People can actively listen and learn from a podcast while also doing something else (i.e., working out at the gym or driving to work) at the same time.</p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="https://www.wearemarketing.com/media/cache/dynamic/rc/GPQFscqe//uploads/media/default/0001/20/1e7f42e2561415df6bb79a307e038ff93ff8a8ed.jpeg" class="d-block w-100" style="height: 300px;" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h4><strong>Why Podcast?</strong></h4>
          <h5>2. Growing in Popularity</h5>
          <p>The number of podcast listeners is growing. 55% of people have listened to a podcast. Podcasts have higher listener engagement and are consumed more than streaming video or social apps.</p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="https://images.prismic.io/meltwater/d59f2227-2fc4-4bd2-93dd-63fc957b6b20_eng-032020-header-internal-podcast.png?auto=compress,format&rect=6,0,1055,703&w=1920&h=1280" class="d-block w-100" style="height: 300px;" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h4><strong>Why Podcast?</strong></h4>
          <h5>3. Podcasts are Accessible</h5>
          <p>Anyone with a smartphone can listen to a podcast, and if you don’t have one, you can listen to many podcasts through a website.</p>
        </div>
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>
<br>
<br>
<br>
