<%= image_tag ("CWF_home-img.jpg"), class: 'homimg' %>
<div id="prt">
    <%= render 'shared/background' %>
  <div class="container">
    <div class="box">
      <div class="box-row">
        <div class="box-cell box1">
          <img style="width: 500px; height: 400px;" src="https://cdn.pixabay.com/photo/2019/07/25/17/09/camp-4363073_1280.png" alt=""/>
        </div>

        <div class="box-cell box2">
          <h2 class="feature-title" style="margin-top: 50px;">Easily create and publish episodes</h2>
          <p style="letter-spacing: 1px;" class="feature-text" style="margin-top: 25px; font-size: 20px;">
            Schedule a day and time you'd like your episode to be available for your listeners.
          </p>
        </div>
      </div>
    </div>
    <br>
    <div class="box">
      <div class="box-row">
        <div class="box-cell box1">
          <h2 class="feature-title" style="margin-top: 50px;">Join an upcoming event and be a part of discussion of your favorite podcast!</h2>
          <p style="letter-spacing: 1px;" class="feature-text" style="margin-top: 25px; font-size: 20px;">
            Take a pause and discuss it with your new friends.
          </p>
        </div>

        <div class="box-cell box2">
         <img style="width: 500px; height: 400px;" src="https://cdn.pixabay.com/photo/2019/07/25/17/09/camp-4363073_1280.png" alt=""/>
        </div>
      </div>
    </div>
    <br>
    <div><h4 style="text-align: center;"><strong>Why podcast?</strong></h4></div>
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner">
        <div class="carousel-item" style="height: 300px;">
          <img src="https://www.wearemarketing.com/media/cache/dynamic/rc/GPQFscqe//uploads/media/default/0001/20/1e7f42e2561415df6bb79a307e038ff93ff8a8ed.jpeg" class="d-block w-100" alt="..."/>
          <div class="carousel-caption d-none d-md-block">
            <h4 style="text-shadow: 2px 2px 4px #000000">1. Growing in Popularity</h4>
            <p style="text-shadow: 2px 2px 4px #000000; font-size: 18px;">The number of podcast listeners is growing - 55% of people have listened to a podcast. Podcasts have higher listener engagement and are consumed more than streaming video or social apps.</p>
          </div>
        </div>
        <div class="carousel-item active" style="height: 300px;">
          <img src="https://harmanradio.com/wp-content/uploads/2015/02/girl-listening-to-headphones.jpg" class="d-block w-100" alt="..."/>
          <div class="carousel-caption d-none d-md-block">
            <h4 style="text-shadow: 2px 2px 4px #000000">2. Podcasting Fits Into People’s Lives</h4>
            <p style="text-shadow: 2px 2px 4px #000000; font-size: 18px;">People can actively listen and learn from a podcast while also doing something else (i.e., working out at the gym or driving to work) at the same time.</p>
          </div>
        </div>
        <div class="carousel-item" style="height: 300px;">
          <img src="https://media.swncdn.com/cms/CW/49861-listening-to-podcast-1200.1200w.tn.jpg" class="d-block w-100" alt="..."/>
          <div class="carousel-caption d-none d-md-block">
            <h4 style="text-shadow: 2px 2px 4px #000000">3. Podcasts are Accessible</h4>
            <p style="text-shadow: 2px 2px 4px #000000; font-size: 18px;">Anyone with a smartphone can listen to a podcast, and if you don’t have one, you can listen to many podcasts through a website.</p>
          </div>
        </div>
      </div>
      <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
    <div class="bottom">
      <div class="row col-xs-12 col-lg-12 d-flex justify-content-between mx-auto">
        <div class="p-3 col col-xs-12 col-sm-6 col-md-4">
          <img class="pic-box" src= "https://i.scdn.co/image/f07f5f6476583502fac99edd5eb83e99dfaf4633"/>
        </div>
        <div class="p-3 col col-xs-12 col-sm-6 col-md-4">
          <img class="pic-box" src="https://pbcdn1.podbean.com/imglogo/dir-logo/237413/237413_300x300.png"/>
        </div>
        <div class="p-3 col col-xs-12 col-sm-6 col-md-4">
          <img class="pic-box" src= "https://cdn2.wanderlust.co.uk/media/1027/cropped-big-travel-podcastpng.jpg?anchor=center&mode=crop&width=640&height=0&format=auto&quality=90&rnd=132296298790000000"/>
        </div>
        <div class="p-3 col col-xs-12 col-sm-6 col-md-4">
          <img class="pic-box" src="https://is2-ssl.mzstatic.com/image/thumb/Podcasts123/v4/47/20/85/47208558-74d0-c9d1-6967-5e0e1207b489/mza_15553691898206596812.jpg/1200x1200bb.jpg"/>
        </div>
        <div class="p-3 col col-xs-12 col-sm-6 col-md-4">
          <img class="pic-box" src= "https://icdn6.themanual.com/image/themanual/dolores-roach-1200x1200.jpg" />
        </div>
        <div class="p-3 col col-xs-12 col-sm-6 col-md-4">
          <img class="pic-box" src="https://content.production.cdn.art19.com/images/95/5d/fe/c5/955dfec5-c873-424c-90dc-3428d21ee20b/11f041a29e8fe4bd143f52d75cfe6dec0f03d43915f482e6931d899542ee9bac113cfb1ecaec7275bebfd6043b49a29dd7545264ce1338c6cac74a7fed809e1f.jpeg" />
        </div>
      </div>
    </div>
  </div>
</div>
<br>


