


  <div class="home-picture" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://cdn.pixabay.com/photo/2019/07/25/17/09/camp-4363073_1280.png);>
    <div style="display: inline;">
      <h1 style="text-align:center;">Cast with Friends</h1>
      <h3 style="text-align:center;">Gather around the digital campfire</h3>
    </div>
  </div>
<div class="container">
  <div class="box">
    <div class="box-row">
      <div class="box-cell box1">
        <img style="width: 500px; height: 400px;" src="https://cdn.pixabay.com/photo/2019/07/25/17/09/camp-4363073_1280.png" alt=""/>
      </div>

      <div class="box-cell box2">
        <h2 class="feature-title">Easily create and publish episodes</h2>
        <p class="feature-text">
          Schedule a day and time you'd like your episode to be available for your listeners.
        </p>
      </div>
    </div>
  </div>
<br>
  <div class="box">
    <div class="box-row">
      <div class="box-cell box1">
        <h2 class="feature-title">Join an upcoming event and be a part of discussion of your favorite podcast!</h2>
        <p class="feature-text">
          Take a pause and discuss it with your new friends.
        </p>
      </div>

      <div class="box-cell box2">
       <img style="width: 500px; height: 400px;" src="https://cdn.pixabay.com/photo/2019/07/25/17/09/camp-4363073_1280.png" alt=""/>
      </div>
    </div>
  </div>
</div>
