<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>
<%= image_tag("avatar/001-runner.png", size: "64x64") %>
<%= image_tag("avatar/002-cheerleader.png", size: "64x64") %>
<%= image_tag("avatar/003-basketball-player.png", size: "64x64") %>
