.sticky-note{
  position: sticky;
  top: 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 400px;
  background: $lightest;
  text-align: center;
  padding: 2em;
  margin-right: 2em;
  border-radius: 5px;
  border: 4px $redyth solid;
}

@media only screen and (max-width: 600px) {
  .sticky-note {
    position: relative;
    justify-content: center;
    height: 400px;
    background: $lightest;
    text-align: center;
    padding: 2em;
    margin-right: auto;
    border-radius: 5px;
    border: 4px $redyth solid;
  }
}


// .booking{
//   width: 150px;
//   height: 30px;
//   background: $main-orange;
//   border-radius: 5px;
//   justify-content: space-between;
// }

.pocast-list{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  float: right;
  height: fit-content;
  text-align: center;
}

// .card-product img {
//   height: 100%;
//   width: 120px;
//   object-fit: cover;
// }

.events {
  text-transform: uppercase;
  letter-spacing: 4px;
  overflow: hidden;
  background: linear-gradient(90deg, #AB164A, #ed93b2, #AB164A, #5E0C29);
  background-size: 80%;
  animation: animate 6s linear infinite;
  -webkit-background-clip: text;
  -webkit-text-fill-color: rgba(255, 255, 255, 0);
}

@keyframes animate {
  0% {
    background-position: -500%;
  }
  100% {
    background-position: 500%;
  }
}
