.container-index{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 50px 1fr 1fr 100px;
}

.sticky-note{
  width: 250px;
  height: 400px;
  margin-left: 50px;
  padding: 30px;
  background: $light-green;
  text-align: justify-center;
}


.booking{
  width: 150px;
  height: 30px;
  display: flex;
  background: yellow;
  border-radius: 5px;
  text-align: justify-center;
}


.card-product {
  overflow: hidden;
  height: 120px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
}

.card-product img {
  height: 100%;
  width: 120px;
  object-fit: cover;
}

.card-product .card-product-infos {
  padding: 16px;
}
