// audio
#audio-box {
  background-color: $lightest;
  box-shadow: 5px 5px 50px 2px $redyth;
  border-radius: 25px;
  color: $redy;
  position: intial;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(0%, -50%);
  padding: 2em 2em 1em 2em;
  user-select: none;
  cursor: none !important;
}

// #progress {
//   user-select: none;
// }

#play {
  // user-select: none;
  display: block;
}
#time-wrapper {
  text-align: center;
  user-select: none;
}
#time-wrapper:after {
  content: "";
  display: inline-block;
  width: 100%;
}
/*Remove default styles*/
input[type="range"] {
  -webkit-appearance: none;
  user-select: none;
  margin: 18px 0;
  width: 90%;
  margin: 1em 2em;
}
/*Track & handle(thumb) styles*/
/*Chrome*/
input[type="range"]::-webkit-slider-runnable-track {
  width: 100%;
  height: 1em;
  user-select: none;
  background: $lightest;
  border-radius: 0;
  border: 1px solid $redy;
  box-shadow: 3px 3px .4em $redy, -.3em 0 .4em $redy;
}
input[type="range"]::-webkit-slider-thumb {
  border: 2px solid $redy;
  box-shadow: 3px 3px .4em $redytw, -.3em 0 .4em $redy;
  height: 2em;
  width: 28px;
  border-radius: 70px;
  background: $redyth;
  user-select: none;
  -webkit-appearance: none;
  margin-top: -0.5em;
}



.container-show{
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-top: 10vh;
}

.audioURL {
  display: none;
}

#audio-pause, #audio-button {
  background-color: $redyz;
}


#userbox {
  // height: 100px;
  // width: 100px;
  border: 2px solid $redyz;
  border-radius: 5px;
  // vertical-align: middle;
  // padding-top: 50%;
  // padding: 5% 5px 5px 5px
}

#event {
  padding: 0;
}

#audio-file {
  opacity: 0;
}
