.container-show{
  display: flex;
  float: left;
  flex-direction: column;
  justify-content: space-between;
  width: 250px;
  height: 400px;
  background: $light-blue;
  text-align: center;
}

// .navbar {
// background: red !important;
// font-size: 120px !important;
// }

// .footer {
//   display: none !important;
// }

