.form-login {
  background: white;
  padding: 10px 20px;
  margin-top: 15vh;
  border-radius: 3px;
  box-shadow: 10px 10px 10px rgba(255, 167, 52, 0.5);
  border: 2px $main-orange solid;

  h2 {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 30px;
    text-align: center;
  }
  .btn {
    width: 100%;
    margin-bottom: 20px
  }
  input:checked {
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
  }
  input:checked::after {
    content: "\2713";
    background-color: $main-orange;
    color: white;
    // top: 50%;
    // -webkit-transform: translateY(-50%);
    //         transform: translateY(-50%);
    left: 5px;
    padding: 0 2px;
  }

  .form-check-input {
    margin: 0.3rem 0.3rem 0.3rem -1.25rem;
    position: initial;
    width: 16.23px;
    height: 17px;
  }

  .form-check-label {
    margin-top: 5px;
    margin-bottom: 5px;
  }
}
