.navbar-lewagon {
  justify-content: space-between;
  background: #1AACF0;
  top:0;
  // position:sticky;
  // border-bottom: 2px $dark-green solid;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.search {
  border: 1px $dark-green solid;
}

.btn, .btn:hover {
  border-radius: 5px;
}
// button .nav-link {
//   color: $white !important;
//   &:hover {
//     color: $red !important;
//   }
// }

li {
  padding: 0 1em;
}

img {
  border-radius: 50px;
}
