.container-user{
  display: flex;
  flex-direction: column;
  width: 1000px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  padding: 30px 30px;
  background: white;
  text-align: center;
  border-radius: 10px;
}

ul{
  width: 100px;
  height: 40px;
  border: 2px solid $blue-green;
}

.saved{
  width: 600px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  background: $blue-green;
  border: 1px solid $blue-green;
  border-radius: 10px;
}
