.home-picture {
  background-position: center;
  height: 280px;
  display: flex;
  justify-content: center;
  align-items: center;
 }

body{
  background-color: $dark-green;
}

.container{
  color: white;
  background-color: $dark-green;
  margin-right: auto;
  margin-left: auto;
  margin-top: 30px;
}

.top{
  float: left;
}

.user{
  float: right;
}

.float-wrap{
  overflow: hidden;
}

.event{
  width: 100px;
  height: 40px;
  color: black;
  background-color: $pale-blue;
  text-align: center;
  padding: 5px 5px;
  border-radius: 5px;
}

.saved{
  margin: 10px;
  padding: 10px;
}

.timeline{
  margin: 10px;
  padding: 10px;
  width: 700px;
  height: 300px;
  color: black;
  background-color: $pale-blue;
  border: 1px solid $pale-blue;
  border-radius: 10px;
}

.pod-cards{
  margin: 10px;
  padding: 10px;
  text-align: left;
}

.card-product {
  overflow: hidden;
  height: 120px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
}

.card-product img {
  height: 100%;
  width: 120px;
  object-fit: cover;
}

.card-product h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-product p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-product .card-product-infos {
  padding: 16px;
}

