<div class="container">
  <div class="row">
    <h1 class="col col-sm-12" style="text-align:center">Search for a podcast</h1>
    <% if flash[:notice] -%>
      <div class = "alert alert-success"><%= flash[:notice] %></div>
    <% end %>

    <div class="box searchbar col-sm-12">
      <%= simple_form_for :title, url: podcasts_path, method: "GET", html: { class: 'form-inline' } do |f| %>
        <%= f.input :podname, input_html: {value: ""}, html: {class: 'podsearch'}, label: false %>
        <%= f.submit "Search", class: "btn" %>
      <% end %>
    </div>
  </div>

</div>
